### Imprt Statements

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import random
from pprint import pprint

### Load and prepare Data

In [3]:
# this is only for load data from direct internet

from sklearn.datasets import load_iris

In [7]:
iris=load_iris()
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Train_Test_Split

In [14]:
def train_test_split(df, test_size):
    if isinstance(test_size, float):
        test_size = round(test_size * len(df))

    indices = df.index.tolist()
    test_indices = random.sample(population=indices, k=test_size)

    test_df = df.loc[test_indices]
    train_df = df.drop(test_indices)
    
    return train_df, test_df

In [28]:
random.seed(0)
train_df, test_df = train_test_split(df, test_size=20)

In [29]:
print(len(df))
print(len(train_df))
print(len(test_df))

150
130
20

In [32]:
test_df.head()

     sepal_length  sepal_width  petal_length  petal_width     species
98            5.1          2.5           3.0          1.1  versicolor
107           7.3          2.9           6.3          1.8   virginica
10            5.4          3.7           1.5          0.2      setosa
66            5.6          3.0           4.5          1.5  versicolor
130           7.4          2.8           6.1          1.9   virginica

### Helper Function

In [34]:
data = train_df.values
data[:5]

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa']], dtype=object)

### Data pure?

In [40]:
def check_purity(data):
    label_column = data[:,-1]
    unique_classes = np.unique(label_column)
    
    if len(unique_classes) == 1:
        return True
    else:
        return False

In [43]:
check_purity(train_df[train_df.petal_width < 0.8].values)

True

### Classify

In [50]:
def classify_data(data):
    label_column = data[:, -1]
    unique_classes, counts_unique_classes = np.unique(label_column, return_counts=True)

    index = counts_unique_classes.argmax()
    classification = unique_classes[index]

    return classification

In [51]:
 classify_data(train_df[train_df.petal_width > 1.2].values)

'virginica'

In [52]:
 classify_data(train_df[(train_df.petal_width > 1.2) & (train_df.petal_width < 2)].values)

'versicolor'